---
- name: Download Atlas Upload
  become: yes
  get_url:
      url: "https://releases.hashicorp.com/atlas-upload-cli/{{hashicorp_atlas_upload_version}}/atlas-upload-cli_{{hashicorp_atlas_upload_version}}_linux_amd64.zip"
      dest: "{{ansible_user_dir}}/atlas-upload-cli-{{hashicorp_atlas_upload_version}}.zip"
      mode: 0444
  when: hashicorp_atlas_upload_install

- name: Unzip Atlas Upload
  become: yes
  unarchive:
      src: "{{ansible_user_dir}}/atlas-upload-cli-{{hashicorp_atlas_upload_version}}.zip"
      dest: /usr/local/bin
      copy: no
      owner: "{{ansible_user_uid}}"
      group: "{{ansible_user_gid}}"
      mode: 0555
      creates: /usr/local/bin/atlas-upload
  when: hashicorp_atlas_upload_install

- name: Test Atlas Upload
  command: /usr/local/bin/atlas-upload --version
  when: hashicorp_atlas_upload_install

- name: Download Consul
  become: yes
  get_url:
      url: "https://releases.hashicorp.com/consul/{{hashicorp_consul_version}}/consul_{{hashicorp_consul_version}}_linux_amd64.zip"
      dest: "{{ansible_user_dir}}/consul-{{hashicorp_consul_version}}.zip"
      mode: 0444
  when: hashicorp_consul_install

- name: Unzip Consul
  become: yes
  unarchive:
      src: "{{ansible_user_dir}}/consul-{{hashicorp_consul_version}}.zip"
      dest: /usr/local/bin
      copy: no
      owner: "{{ansible_user_uid}}"
      group: "{{ansible_user_gid}}"
      mode: 0555
      creates: /usr/local/bin/consul
  when: hashicorp_consul_install

- name: Test Consul
  command: /usr/local/bin/consul --version
  when: hashicorp_consul_install

- name: Download Consul Replicate
  become: yes
  get_url:
      url: "https://releases.hashicorp.com/consul-replicate/{{hashicorp_consul_replicate_version}}/consul-replicate_{{hashicorp_consul_replicate_version}}_linux_amd64.zip"
      dest: "{{ansible_user_dir}}/consul-replicate-{{hashicorp_consul_replicate_version}}.zip"
      mode: 0444
  when: hashicorp_consul_replicate_install

- name: Unzip Consul Replicate
  become: yes
  unarchive:
      src: "{{ansible_user_dir}}/consul-replicate-{{hashicorp_consul_replicate_version}}.zip"
      dest: /usr/local/bin
      copy: no
      owner: "{{ansible_user_uid}}"
      group: "{{ansible_user_gid}}"
      mode: 0555
      creates: /usr/local/bin/consul-replicate
  when: hashicorp_consul_replicate_install

- name: Test Consul Replicate
  command: /usr/local/bin/consul-replicate --version
  when: hashicorp_consul_replicate_install

- name: Download Consul Template
  become: yes
  get_url:
      url: "https://releases.hashicorp.com/consul-template/{{hashicorp_consul_template_version}}/consul-template_{{hashicorp_consul_template_version}}_linux_amd64.zip"
      dest: "{{ansible_user_dir}}/consul-template-{{hashicorp_consul_template_version}}.zip"
      mode: 0444
  when: hashicorp_consul_template_install

- name: Unzip Consul Template
  become: yes
  unarchive:
      src: "{{ansible_user_dir}}/consul-template-{{hashicorp_consul_template_version}}.zip"
      dest: /usr/local/bin
      copy: no
      owner: "{{ansible_user_uid}}"
      group: "{{ansible_user_gid}}"
      mode: 0555
      creates: /usr/local/bin/consul-template
  when: hashicorp_consul_template_install

- name: Test Consul Template
  command: /usr/local/bin/consul-template --version
  when: hashicorp_consul_template_install

- name: Download Envconsul
  become: yes
  get_url:
      url: "https://releases.hashicorp.com/envconsul/{{hashicorp_envconsul_version}}/envconsul_{{hashicorp_envconsul_version}}_linux_amd64.zip"
      dest: "{{ansible_user_dir}}/envconsul-{{hashicorp_envconsul_version}}.zip"
      mode: 0444
  when: hashicorp_envconsul_install

- name: Unzip Envconsul
  become: yes
  unarchive:
      src: "{{ansible_user_dir}}/envconsul-{{hashicorp_envconsul_version}}.zip"
      dest: /usr/local/bin
      copy: no
      owner: "{{ansible_user_uid}}"
      group: "{{ansible_user_gid}}"
      mode: 0555
      creates: /usr/local/bin/envconsul
  when: hashicorp_envconsul_install

- name: Test Envconsul
  command: /usr/local/bin/envconsul --version
  when: hashicorp_envconsul_install

- name: Download Nomad
  become: yes
  get_url:
      url: "https://releases.hashicorp.com/nomad/{{hashicorp_nomad_version}}/nomad_{{hashicorp_nomad_version}}_linux_amd64.zip"
      dest: "{{ansible_user_dir}}/nomad-{{hashicorp_nomad_version}}.zip"
      mode: 0444
  when: hashicorp_nomad_install

- name: Unzip Nomad
  become: yes
  unarchive:
      src: "{{ansible_user_dir}}/nomad-{{hashicorp_nomad_version}}.zip"
      dest: /usr/local/bin
      copy: no
      owner: "{{ansible_user_uid}}"
      group: "{{ansible_user_gid}}"
      mode: 0555
      creates: /usr/local/bin/nomad
  when: hashicorp_nomad_install

- name: Test Nomad
  command: /usr/local/bin/nomad --version
  when: hashicorp_nomad_install

- name: Download Otto
  become: yes
  get_url:
      url: "https://releases.hashicorp.com/otto/{{hashicorp_otto_version}}/otto_{{hashicorp_otto_version}}_linux_amd64.zip"
      dest: "{{ansible_user_dir}}/otto-{{hashicorp_otto_version}}.zip"
      mode: 0444
  when: hashicorp_otto_install

- name: Unzip Otto
  become: yes
  unarchive:
      src: "{{ansible_user_dir}}/otto-{{hashicorp_otto_version}}.zip"
      dest: /usr/local/bin
      copy: no
      owner: "{{ansible_user_uid}}"
      group: "{{ansible_user_gid}}"
      mode: 0555
      creates: /usr/local/bin/otto
  when: hashicorp_otto_install

- name: Test Otto
  command: /usr/local/bin/otto --version
  when: hashicorp_otto_install

- name: Download Packer
  become: yes
  get_url:
      url: "https://releases.hashicorp.com/packer/{{hashicorp_packer_version}}/packer_{{hashicorp_packer_version}}_linux_amd64.zip"
      dest: "{{ansible_user_dir}}/packer-{{hashicorp_packer_version}}.zip"
      mode: 0444
  when: hashicorp_packer_install

- name: Unzip Packer
  become: yes
  unarchive:
      src: "{{ansible_user_dir}}/packer-{{hashicorp_packer_version}}.zip"
      dest: /usr/local/bin
      copy: no
      owner: "{{ansible_user_uid}}"
      group: "{{ansible_user_gid}}"
      mode: 0555
      creates: /usr/local/bin/packer
  when: hashicorp_packer_install

- name: Test Packer
  command: /usr/local/bin/packer --version
# when: hashicorp_packer_install
# https://github.com/mitchellh/packer/issues/3370
  when: false

- name: Download Serf
  become: yes
  get_url:
      url: "https://releases.hashicorp.com/serf/{{hashicorp_serf_version}}/serf_{{hashicorp_serf_version}}_linux_amd64.zip"
      dest: "{{ansible_user_dir}}/serf-{{hashicorp_serf_version}}.zip"
      mode: 0444
  when: hashicorp_serf_install

- name: Unzip Serf
  become: yes
  unarchive:
      src: "{{ansible_user_dir}}/serf-{{hashicorp_serf_version}}.zip"
      dest: /usr/local/bin
      copy: no
      owner: "{{ansible_user_uid}}"
      group: "{{ansible_user_gid}}"
      mode: 0555
      creates: /usr/local/bin/serf
  when: hashicorp_serf_install

- name: Test Serf
  command: /usr/local/bin/serf --version
  when: hashicorp_serf_install

