{
    "bind_addr": "{{ hashicorp_consul_daemon_interface }}",
    "bootstrap_expect": 1,
    "client_addr": "{{ hashicorp_consul_daemon_interface }}",
    "data_dir": "/var/consul",
    "datacenter": "development",
    "server" : true,
    "ui" : true
}
